:root {
  --headline-1: 28px;
  --headline-2: 20px;
  --headline-3: 16px;
  --text-size: 16px;
  --text-size-small: 12px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh !important;
  text-align: justify;
  font-feature-settings: "palt";
  font-size: var(--text-size);
  word-wrap: break-word;
  word-break: break-all;
}

.container {
  margin: 0 auto;
  padding: 5px 30px;
  max-width: 800px;
  min-width: 600px;
  width: 70vw;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    padding: 5px 15px;
  }
}

/**
 * header, main, footer
 */
header {
  padding: 10px 30px;
  border-bottom: 0.5px solid #ccc;
}

header h1, header p {
  font: normal bold var(--headline-1)/1 monospace;
  margin: 0;
}

header a, header a:visited {
  text-decoration: none;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  border-top: 1px solid #ccc;
  padding: 15px 0 0;
  font-size: var(--text-size-small);
}
footer ul {
  display: flex;
  justify-content: flex-start;
}
footer ul li {
  list-style: none;
  margin-left: 10px;
}

/**
 * headline
 */
h1 {
  font-size: var(--headline-1);
}
h2 {
  font-size: var(--headline-2);
}
h3 {
  font-size: var(--headline-3);
}
main h1, main h2, main h3, main h4 {
  margin: 15px 0 5px;
}
main h1, main h2 {
  border-bottom: 0.5px solid #ccc;
}

.prevNext {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
.prevNext__next {
  text-align: right;
}
.prevNext__prev {
  text-align: left;
}
