.container {
  margin: 0 auto;
  padding: 5px 30px;
  max-width: 800px;
  min-width: 600px;
  width: 70vw;
  background: rgba(255,255,255,0.7);
}

header {
  padding: 5px 30px;
  background: #506763 !important;
}

header h1, header p {
  font: normal bold var(--text-size)/1 monospace;
  margin: 0;
}

header a, header a:visited {
  color: #e6ecf0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh !important;
  background: #e8f0ef;
  color: #333;
  text-align: justify;
  font-feature-settings: "palt";
}
main {
  flex-grow: 1;
}
@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    padding: 5px 15px;
  }
}
