<!DOCTYPE html>
<html lang="{{LANG}}">
<head prefix="og: http://ogp.me/ns#">
  {if gtag_id}
  {include('./template/gtag.html')}
  {/if}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{TITLE}} | {{SITE_NAME}}</title>
  {if noindex}
  <meta name="robots" content="noindex" />
  {/if}
  <meta property="og:url" content="{{URL_BASE}}{{URL}}">
  <meta property="og:title" content="{{TITLE}}">
  {if og_image}
  <meta property="og:image" content="{{OG_IMAGE}}">
  {/if}
  {if og_description}
  <meta property="og:description" content="{{OG_DESCRIPTION}}">
  {/if}
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{SITE_NAME}}">
  {script}
    const url = variables.url_base + encodeURI(variables.url)
    return `<link rel="canonical" href="${url}">`
  {/script}
  <meta name="description" content="{{DESCRIPTION}}">

  {include('./template/css.html')}
</head>
<body>
  <header>
    <p class="container"><a href="/">{{SITE_NAME}}</a></p>
  </header>
  <main>
    <article class="container">
      <h1>{{TITLE}}</h1>
      {if published}
      <aside class="published">
        <p>投稿: {script}return helper.dateFormat(variables.published){/script}
      {/if}
      {if modified} / 更新: {script}return helper.dateFormat(variables.modified){/script}{/if}
      {if published}
        </p>
      </aside>
      {/if}
      {{MARKDOWN}}
    </article>

    {include('./template/prevNext.html')}
  </main>

  {include('./template/footer.html')}
</body>
</html>
