<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{SITE_NAME}}</title>
  {if gtag_id}
  {include('./template/gtag.html')}
  {/if}
  <style>
  {include('./css/reset.css')}
  </style>
  <link rel="stylesheet" href="${/css/layout.css:/css/layout.css}">
  <link rel="preload" href="${/css/lazy.css:/css/page.css,/css/markdown.css}" as="style">
  <link rel="stylesheet" href="${/css/lazy.css:/css/page.css,/css/markdown.css}" media="print" onload="this.media='all'">
</head>
<body>
  <header>
    <h1 class="container"><a href="/">{{SITE_NAME}}</a></h1>
  </header>
  <main>
    <div class="container">
      {{MARKDOWN}}
    </div>
  </main>

  {include('./template/footer.html')}
</body>
</html>
