{script}
if (!variables.index) {
  return ''
}
if (variables.published === '1970-01-01') {
  return ''
}
const template = `
<div class="container">
  <ul class="prevNext">
    <li class="prevNext__prev">{{prev}}</li>
    <li class="prevNext__next">{{next}}</li>
  </ul>
</div>
`
return helper.readIndex()
  .then(index => index.filter(v => v.published !== '1970-01-01' && v.index))
  .then(index => index.sort((a, b) => new Date(b.published) - new Date(a.published)))
  .then(index => {
    let prev = '', next = '', current = false
    for (const page of index) {
      if (current) {
        prev = `<a href="${page.url}">${page.title}</a>`
        break
      }
      if (variables.name === page.name) {
        current = true
        continue
      }
      next = `<a href="${page.url}">${page.title}</a>`
    }
    if (!next && !prev) return ''
    variables.prev = prev
    variables.next = next
    return template
  })
{/script}
