body {
  background: #fafafa;
  --container-max-width: 100%;
  --container-min-width: 100%;
  --container-width: 100%;
  height: 100vh;
}
main {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
main.container {
  padding: 0;
}
.textareaAndPreview {
  display: flex;
  margin: 10px 0;
  border: 1px solid #666;
  border-radius: 5px;
  height: 100%;
}
.textareaAndPreview>* {
  flex-basis: 50%;
}
.editor {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  justify-content:center;
  height: 100%;
  /* width: 100%; */
  margin: 0 auto;
  position: relative;
  width: 100%;
  left: 0;
  flex-basis: 100%;
}
.sidebar-close .editor {
  flex-basis: 90%;
}
.editor-options {
  display: flex;
  justify-content: space-between;
}
#editorTextArea {
  resize: none;
  background: #cccccc;
  color: #333;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  border: 0;
  transition: background 0.2s;
}
#editorTextArea:focus {
  background: #eee;
  transition: background 0.2s;
  outline: none;
}
form select {
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
#previewContent {
  flex-basis: 100%;
  height: 100%;
  min-height: 90%;
  display: block;
  width: 100%;
}
#previewContent iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0 5px 5px 0;
}
.sidebar {
  display: flex;
  justify-content: space-between;
  width: 300px;
  overflow: hidden;
  left: 0;
  background: rgba(104, 117, 154);
  height: 100%;
  padding: 0;
  overflow-y: hidden;
  flex-basis: 300px;
  position: relative;
  z-index: 3;
}
.sidebar-close .sidebar {
  left: -290px;
  flex-basis: 0;
}
.sidebar ul {
  padding: 0;
  margin: 0 0 0 20px;
}
.sidebar-close .sidebar ul {
  position: absolute;
  left: -290px;
  transition: left 0.3s;
}
@media screen and (min-width: 1100px) {
}
@media screen and (min-width: 1400px) {
}
@media screen and (max-width: 600px) {
  .sidebar {
    flex-basis: 80%;
  }
  .sidebar.close {
    flex-basis: 5%;
  }
}
.sidebar li {
  list-style: none;
}
.sidebar a {
  color: #fff;
}
.sidebar-toggle {
  cursor: pointer;
  width: 20px;
  height: 100%;
  background: rgba(104, 117, 154);
}
.sidebar-close .sidebar-toggle {
  position: fixed;
  left: 0;
}
.sidebar-toggle:hover:after {
  position: absolute;
  right: 0;
  content: ' ';
  height: 100%;
  width: 20px;
  background: rgba(255, 255,255, 0.3);
}
@media screen and (max-width: 600px) {
  main {
    width: 100%;
    display: block;
  }
  main.container {
    padding: 0 5px;
  }
  .sidebar {
    position: fixed;
    width: 80vw;
    z-index: 3;
    right: 0;
    left: unset;
    transition: right .3s, width .3s;
  }
  .sidebar-close .sidebar {
    width: 0;
    position: fixed;
    right: -300px;
    left: unset;
    transition: right .3s, width .3s;
  }
  .editor {
    padding: 15px 0;
  }
  .preview {
    display: none;
  }
  #editorTextArea {
    flex-basis: 100%;
  }
  .sidebar-toggle {
    display: none;
  }
}
/**
 * hamburger
 */
.hamburger-menu {
  display: none;
}
@media screen and (max-width: 600px) {
  .hamburger-menu {
    display: block;
  }
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    /* background-color: #3584bb; */
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
    transition: transform 0.3s, background-color 0.3s;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    transition: transform 0.3s, background-color 0.3s;
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: transform 0.3s, background-color 0.3s;
  }
  #menu-btn-check {
    display: none;
  }
}
