body {
  background: #fafafa;
  --container-max-width: 90%;
  --container-min-width: 90%;
  --container-width: 90%;
  height: 100vh;
}
main {
  height: 100%;
  margin: 0 auto;
}
.textareaAndPreview {
  display: flex;
  margin: 10px 0;
  border: 1px solid #666;
  border-radius: 5px;
  height: 100%;
}
.textareaAndPreview>* {
  flex-basis: 50%;
}
.editor {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  justify-content:center;
  height: 100%;
}
#editorTextArea {
  resize: none;
  background: #cccccc;
  color: #333;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  border: 0;
  transition: background 0.2s;
}
#editorTextArea:focus {
  background: #eee;
  transition: background 0.2s;
  outline: none;
}
form select {
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
#previewContent {
  flex-basis: 100%;
  height: 100%;
  min-height: 90%;
  display: block;
  width: 100%;
}
#previewContent iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0 5px 5px 0;
}
.sidebar {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  overflow: hidden;
  position: absolute;
  background: rgba(104, 117, 154);
  height: 100%;
  padding: 0;
  box-shadow: 3px 13px 13px rgba(50, 50, 50, 0.5);
  left: 0;
  transition: left 0.3s, width 0.3s;
  overflow-y: hidden;
}
.sidebar.close {
  left: -48vw;
  transition: left 0.3s, width 0.3s;
}
@media screen and (min-width: 1100px) {
  .sidebar {
    width: 40vw;
  }
  .sidebar.close {
    left: -39vw;
  }
}
@media screen and (min-width: 1400px) {
  .sidebar {
    width: 30vw;
  }
  .sidebar.close {
    left: -29vw;
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    width: 80vw;
  }
  .sidebar.close {
    left: -77vw;
  }
}
.sidebar li {
  list-style: none;
}
.sidebar a {
  color: #fff;
}
.sidebar-toggle {
  cursor: pointer;
  width: 20px;
  height: 100%;
  position: relative;
}
.sidebar-toggle:hover:after {
  position: absolute;
  right: 0;
  content: ' ';
  height: 100%;
  width: 20px;
  background: rgba(255, 255,255, 0.3);
}
@media screen and (max-width: 600px) {
  main {
    width: 100%;
    display: block;
  }
  .editor {
    padding: 15px 0;
  }
  .preview {
    display: none;
  }
  #editorTextArea {
    flex-basis: 100%;
  }
}
