:root {
  --headline-1: 28px;
  --headline-2: 20px;
  --headline-3: 16px;
  --text-size: 16px;
  --text-size-small: 12px;
  --container-max-width: 80%;
  --container-min-width: 600px;
  --container-width: 70vw;
}

body {
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100dvh !important;
  text-align: justify;
  font-feature-settings: "palt";
  font-size: var(--text-size);
  word-wrap: break-word;
  word-break: break-all;
}

.container {
  margin: 0 auto;
  padding: 5px 30px;
  max-width: var(--container-max-width, 80%);
  min-width: var(--container-min-width, 600px);
  width: var(--container-width, 70vw);
}

@media screen and (max-width: 600px) {
  .container {
    --container-max-width: 100%;
    --container-min-width: 100%;
    --container-width: 100%;
    padding: 5px 15px;
  }
}

/**
 * header, main, footer
 */
header {
  padding: 10px 0;
  background: var(--header-bg);
}

header h1, header p {
  font: normal bold var(--headline-1)/1 monospace;
  margin: 0;
}

header a, header a:visited {
  text-decoration: none;
  color: var(--header-logo-color);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  border-top: 1px solid #ccc;
  padding: 15px 0 0;
  font-size: var(--text-size-small);
  background: var(--footer-bg);
}
footer ul {
  display: flex;
  justify-content: flex-start;
}
footer ul li {
  list-style: none;
  margin-left: 10px;
}

/**
 * headline
 */
h1 {
  font-size: var(--headline-1);
}
h2 {
  font-size: var(--headline-2);
}
h3 {
  font-size: var(--headline-3);
}
main h1, main h2, main h3, main h4 {
  margin: 15px 0 5px;
}
main h1, main h2 {
  border-bottom: 0.5px solid #ccc;
}
/**
 * aside
 */
aside, aside * {
  font-size: var(--text-size-small);
  color: #503838;
  line-height: 1.125rem;
}

/**
 * p
 */
p {
  margin: 15px 0;
}

.prevNext {
  list-style: none;
  display: flex;
  padding: 0;
}
.prevNext li {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}
.prevNext a {
  padding: 10px;
  display: contents;
}
.prevNext__prev {
  padding-right: 5px;
  justify-content: flex-start;
}
.prevNext__next {
  padding-left: 5px;
  justify-content: flex-end;
}
.prevNext__next a::after {
  content: '>';
  color: #ccc;
  padding-left: 10px;
}
.prevNext__prev a::before {
  content: '<';
  color: #ccc;
  padding-right: 10px;
}
