name: Build html and deploy to S3
on:
  push:
      branches:
        - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: npm install
        run: npm install --production

      - name: Build
        run: SITE_NAME=${{ secrets.SITE_NAME }} URL_BASE=${{ secrets.URL_BASE }} GTAG_ID=${{ secrets.GTAG_ID }} npm run generate

      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws s3 sync \
          --region ap-northeast-1 \
          --exact-timestamps \
          --exclude .gitignore \
          --exclude '*.css' \
          --exclude 'image/' \
          --delete \
          --metadata-directive REPLACE \
          --cache-control "max-age=86400, no-cache, public" \
          dist/ s3://${{ secrets.S3_URL }}/

          aws s3 sync \
          --region ap-northeast-1 \
          --exact-timestamps \
          --exclude .gitignore \
          --delete \
          --metadata-directive REPLACE \
          --cache-control "max-age=864000, public" \
          dist/css/ s3://${{ secrets.S3_URL }}/css/

          aws s3 sync \
          --region ap-northeast-1 \
          --exact-timestamps \
          --exclude .gitignore \
          --delete \
          --metadata-directive REPLACE \
          --cache-control "max-age=86400, public" \
          dist/image/ s3://${{ secrets.S3_URL }}/image/
