<!DOCTYPE html>
<html lang="{{LANG}}">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{TITLE}} | {{SITE_NAME}}</title>
  {if noindex}
  <meta name="robots" content="noindex" />
  {/if}
  <meta property="og:url" content="{{FULL_URL}}">
  <meta property="og:title" content="{{TITLE}}">
  {if og_image}
  <meta property="og:image" content="{{OG_IMAGE}}">
  {/if}
  <meta property="og:description" content="{{OG_DESCRIPTION}}">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{SITE_NAME}}">
  {script}
    const url = variables.url_base + encodeURI(variables.url)
    return `<link rel="canonical" href="${url}">`
  {/script}
  <meta name="description" content="{{DESCRIPTION}}">

  {include('template/css.html')}
</head>
<body>
  <header>
    <p class="container"><a href="{{RELATIVE_PATH}}/">{{SITE_NAME}}</a></p>
  </header>
  <main>
    <div class="container">
      {{ breadcrumbList(name) }}
    </div>
    <article class="container">
      <h1>{{TITLE}}</h1>
      {if published != '1970-01-01'}
      <aside class="published">
        <p>投稿: {{ dateFormat(published) }}
      {/if}
      {if modified} / 更新: {{ dateFormat(modified) }}{/if}
      {if published}
        </p>
      </aside>
      {/if}
      {{MARKDOWN}}
    </article>

    {include('template/prevNext.html')}
  </main>
  {include('template/footer.html')}
  {if add_script}
  <script src="{{ADD_SCRIPT}}" async></script>
  {/if}
</body>
</html>
