<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{SITE_NAME}}</title>
  {include('template/css.html')}
  <link rel="stylesheet" href="${/css/editor.css<<editor.css}">
  <script src="/js/editor.js" defer></script>

</head>
<body>
  <header>
    <p class="container">
      <a href="/">{{SITE_NAME}}/Editor</a>
    </p>
  </header>
    <div class="sidebar close">
      <ul>
        <script type="ssg">
        return helper.readIndex().map(p => {
          return `<li><a href="/editor?md=${p.name}.${p.__filetype}">${p.url}.${p.__filetype}</a></li>`
        }).join("\n")
        </script>
      </ul>
      <div class="sidebar-toggle">&nbsp;</div>
    </div>
  <main class="container">
    <form action="/editor" class="editor" method="post" id="editor">
      <input id="inputFileName" name="inputFileName" type="text" value="" placeholder="sample.md">
      <select id="selectDataFile" name="selectDataFile">
        <option value="">新規作成</option>
        <script type="ssg">
          return helper.readIndex().map(p => {
        return `<option value="${p.name}.${p.__filetype}">${p.url}.${p.__filetype}</option>`
      }).join("\n")
        </script>
      </select>
      <div class="textareaAndPreview">
        <textarea id="editorTextArea" name="content" cols="30" rows="10">
# H1

ここにマークダウンを入力してください。
        </textarea>
        <div class="preview">
          <div id="previewContent"></div>
        </div>
      </div>
      <input type="hidden" name="token" value="{{TOKEN}}">
      <div>
        <input type="submit" value="preview" data-url="/preview">
        <input type="submit" value="save" data-url="/editor">
        <a href="/">戻る</a>
      </div>
    </form>
  </main>
</body>
</html>
