<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{SITE_NAME}}</title>
  <link rel="stylesheet" href="${/css/editor.css<<reset.css,editor.css}">
  <script src="/js/editor.js" defer></script>

</head>
<body>
  <main class="container">
    <div class="sidebar">
      <ul>
        <script type="ssg">
        return helper.readIndex().map(p => {
          return `<li><a href="/editor?md=${p.name}.${p.__filetype}">${p.url}.${p.__filetype}</a></li>`
        }).join("\n")
        </script>
      </ul>
      <div class="sidebar-toggle">&nbsp;</div>
    </div>
    <form action="/editor" class="editor" method="post" id="editor">
      <div class="editor-options">
        <div>
          <input id="inputFileName" name="inputFileName" type="text" value="" placeholder="sample.md">
          <select id="selectDataFile" name="selectDataFile">
            <option value="">新規作成</option>
            <script type="ssg">
              return helper.readIndex().map(p => {
        return `<option value="${p.name}.${p.__filetype}">${p.url}.${p.__filetype}</option>`
      }).join("\n")
            </script>
          </select>
        </div>
        <div>
          <input type="submit" value="preview" data-url="/preview">
          <input type="submit" value="save" data-url="/editor">
          <a href="/">戻る</a>
        </div>
      </div>
      <div class="textareaAndPreview">
        <textarea id="editorTextArea" name="content" cols="30" rows="10">
{{ MARKDOWN_NOT_PARSED }}
        </textarea>
        <div class="preview">
          <div id="previewContent"></div>
        </div>
      </div>
      <input type="hidden" name="token" value="{{TOKEN}}">
    </form>
    <div class="hamburger-menu">
      <input type="checkbox" id="menu-btn-check">
      <label for="menu-btn-check" class="menu-btn"><span></span></label>
    </div>
  </main>
</body>
</html>
